/* =================
Add more styles here!
================= */

body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.container{
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
  width: 100%;
  padding: 2em 2em;
}

#map {
    position: absolute;
    top: 15%; 
    bottom: 10%; 
    left: 10%;
    right: 10%;
    z-index: 2000;
}

#button-reset {
  background-color: #ff6347;
  border: 0;
  border-radius: 5em;
  padding: 1em 2em;
  color: #fff;
  z-index: 2000;
  font-weight: 900;
  display: none;
}
